<div class="server-status-container p-3 mb-2" *ngIf="server?.status != null && server?.status?.playing != null">
  <div>
    <div class="text-center" *ngIf="server.status.playing != null">{{ server.status.playing.name }}</div>
    <app-server-status-slider
      [playing]="server.status.playing"
      (change)="onSetPosition($event)"
      (end)="onNext($event)"
    ></app-server-status-slider>
  </div>
  <div class="text-center mt-2 mb-2">
    <button class="btn btn-dark mt-2 ml-2" (click)="onResume()"><fa-icon [icon]="faPlay"></fa-icon></button>
    <button class="btn btn-dark mt-2 ml-2" (click)="onPause()"><fa-icon [icon]="faPause"></fa-icon></button>
    <button class="btn btn-dark mt-2 ml-2" (click)="onStop(server.status.playing)"><fa-icon [icon]="faStepForward"></fa-icon></button>
    <button class="btn btn-dark mt-2 ml-2" (click)="onClear()"><fa-icon [icon]="faStop"></fa-icon></button>
  </div>
  <ng-container *ngIf="server.status.queue.length > 0">
    <hr />
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nom</th>
          <th scope="col">Durée</th>
          <th scope="col">Mis dans la file par</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contentStatus of server.status.queue; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ contentStatus.name }}</td>
          <td>{{ contentStatus.duration | duration }}</td>
          <td>{{ contentStatus.initiator?.nickname }}</td>
          <td>
            <button class="btn btn-dark mt-2 ml-2" (click)="onStop(contentStatus)">
              <fa-icon [icon]="faWindowClose"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
