<div class="container mt-5">
  <ng-container *ngIf="serverState$ | async as serverState">
    <app-card title="Administrer un serveur" *ngIf="serverState.loaded">
      <div class="mb-4">
        Liste des catégories
        <a class="btn btn-success float-right" [routerLink]="'/create-category/' + serverState.server.id"
          ><fa-icon [icon]="faPlus"></fa-icon
        ></a>
      </div>
      <hr />
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories$ | async; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ category.name }}</td>
            <td>
              <div class="float-right">
                <button class="btn btn-primary mr-2" (click)="onEdit(category.id)">
                  <fa-icon [icon]="faEdit"></fa-icon>
                </button>
                <button class="btn btn-danger" (click)="onDelete(category.id)">
                  <fa-icon [icon]="faTrash"></fa-icon>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </app-card>
  </ng-container>
</div>
