<app-card title="Nouveau serveur" *ngIf="step === 1">
  <div class="mb-2">
    Choisissez le mode d'ajout que vous souhaitez :
  </div>
  <app-radio-input label="Rejoindre un serveur" name="choice" item="JOIN" [(value)]="choice"></app-radio-input>
  <app-radio-input label="Créer un serveur" name="choice" item="CREATE" [(value)]="choice"></app-radio-input>
  <button class="btn btn-success mt-2" (click)="onSubmit()"><fa-icon [icon]="faArrowCircleLeft" class="mr-2"></fa-icon>Suivant</button>
  <button class="btn btn-primary mt-2 ml-2" (click)="onCancel()">Retour<fa-icon [icon]="faArrowCircleRight" class="ml-2"></fa-icon></button>
</app-card>
<app-card title="Créer un serveur" *ngIf="step === 2 && choice === 'CREATE'">
  <div class="form-group">
    <label for="name">Nom</label>
    <input type="text" class="form-control" name="name" id="name" [(ngModel)]="server.name" placeholder="Nom" />
  </div>
  <app-loading [loading]="loading"></app-loading>
  <button class="btn btn-success mt-2" *ngIf="!loading" (click)="onSubmit()" [disabled]="server.name.length === 0">
    <fa-icon [icon]="faSave" class="mr-2"></fa-icon>Créer
  </button>
  <button class="btn btn-primary mt-2 ml-2" *ngIf="!loading" (click)="onCancel()">
    Retour<fa-icon [icon]="faArrowCircleRight" class="ml-2"></fa-icon>
  </button>
</app-card>
<app-card title="Rejoindre un serveur" *ngIf="step === 2 && choice === 'JOIN'">
  Entrez la commande suivante dans un salon du serveur Discord que vous souhaitez rejoindre :
  <div class="mt-2 row" *appLet="serverJoinToken$ | async as serverJoinToken">
    <div class="col-md-10 token-container">{{ configService.getCommandPrefix() }}join {{ serverJoinToken?.serverJoinToken }}</div>
    <div class="col-md-2">
      <button
        class="btn btn-primary"
        (click)="copyToClipboard(configService.getCommandPrefix() + 'join ' + serverJoinToken.serverJoinToken)"
      >
        <fa-icon [icon]="faCopy" class="mr-2"></fa-icon>Copier
      </button>
    </div>
  </div>
  <app-loading [loading]="serverJoinTokenLoading"></app-loading>
  <button class="btn btn-success mt-2" *ngIf="!serverJoinTokenLoading" (click)="onJoin()">
    <fa-icon [icon]="faCheck" class="mr-2"></fa-icon>C'est fait
  </button>
  <button class="btn btn-primary mt-2 ml-2" *ngIf="!serverJoinTokenLoading" (click)="onCancel()">
    Retour<fa-icon [icon]="faArrowCircleRight" class="ml-2"></fa-icon>
  </button>
</app-card>
