<app-card title="Connexion">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Adresse email</label>
      <input type="text" class="form-control" name="email" id="email" [(ngModel)]="user.email" placeholder="Adresse email" />
    </div>
    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="password" class="form-control" name="password" id="password" [(ngModel)]="user.password" placeholder="Mot de passe" />
    </div>
    <div>Vous n'êtes pas inscrit ? <a routerLink="/register">S'inscrire</a></div>
    <app-loading [loading]="loading"></app-loading>
    <button type="submit" class="btn btn-primary btn-lg mt-2 w-100" *ngIf="!loading">Se connecter</button>
  </form>
</app-card>
