::ng-deep .time-slider .ng5-slider .ng5-slider-pointer {
  width: 24px;
  height: 24px;
  border-radius: 16px;
  bottom: 0;
  top: -10px;
  background-color: #2f83bc;
  border: 3px outset #18a388;
}

::ng-deep .time-slider .ng5-slider .ng5-slider-pointer:after {
  display: none;
}

::ng-deep .time-slider .ng5-slider .ng5-slider-selection {
  background: #18a388;
  opacity: 0.7;
}
