<app-card title="Nouveau contenu" *ngIf="step === 1">
  <div class="form-group">
    <label for="name">Nom</label>
    <input type="text" class="form-control" name="name" id="name" [(ngModel)]="content.name" placeholder="Nom" />
  </div>
  <div class="form-group">
    <label for="group">Groupe</label>
    <select class="form-control" id="group" [(ngModel)]="content.groupId">
      <option *ngFor="let group of groups" [ngValue]="group.id">{{ group.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="categpry">Catégorie</label>
    <ng-container *ngIf="categories.length > 0">
      <select class="form-control" id="category" [(ngModel)]="content.categoryId">
        <option *ngFor="let category of categories" [ngValue]="category.id">{{ category.name }}</option>
      </select>
    </ng-container>
    <ng-container *ngIf="categories.length === 0">
      Ce serveur ne possède aucune catégorie.
      <a class="btn btn-primary" [routerLink]="'/create-category/' + serverId">Ajouter une catégorie</a>
    </ng-container>
  </div>
  <button class="btn btn-success mt-2" (click)="onSubmit()">Suivant</button>
  <button class="btn btn-primary mt-2 ml-2" (click)="onCancel()">Retour</button>
</app-card>
<app-card title="Choisir une icone" *ngIf="step === 2">
  <div class="form-group">
    <div *ngIf="content.thumbnail">
      <img [src]="content.thumbnail" width="200" height="200" />
    </div>
    <input type="file" style="display: none" accept="image/png,image/jpeg" (change)="onFileChange($event)" #thumbnailInput />
    <button class="btn btn-primary mt-2" (click)="thumbnailInput.click()">Choisir une icone</button>
  </div>
  <button class="btn btn-success mt-2" (click)="onSubmit()" [disabled]="content.thumbnail == null">Suivant</button>
  <button class="btn btn-primary mt-2 ml-2" (click)="onCancel()">Retour</button>
</app-card>
<app-card title="Choisir un media" *ngIf="step === 3">
  <div class="form-group">
    <input type="file" style="display: none" accept="audio/mpeg" (change)="onFileChange($event)" #mediaInput />
    <button class="btn btn-primary mt-2" (click)="mediaInput.click()">Choisir un media</button>
  </div>
  <app-loading [loading]="loading"></app-loading>
  <button class="btn btn-success mt-2" *ngIf="!loading" (click)="onSubmit()" [disabled]="content.media == null">Créer</button>
  <button class="btn btn-primary mt-2 ml-2" *ngIf="!loading" (click)="onCancel()">Retour</button>
</app-card>
