<app-card title="Nouveau contenu" *ngIf="step === 1">
  <div class="mb-2">
    Choisissez le type de contenu que vous souhaitez créer :
  </div>
  <app-radio-input label="YouTube" name="contentType" item="YOUTUBE" [(value)]="contentInput.contentType"></app-radio-input>
  <app-radio-input label="Personnalisé" name="contentType" item="LOCAL" [(value)]="contentInput.contentType"></app-radio-input>
  <button class="btn btn-success mt-2" (click)="onSubmit()" [disabled]="contentInput.contentType == null">
    <fa-icon [icon]="faArrowCircleLeft" class="mr-2"></fa-icon>Suivant
  </button>
  <button class="btn btn-primary mt-2 ml-2" (click)="onCancel()">
    Retour
    <fa-icon [icon]="faArrowCircleRight" class="ml-2"></fa-icon>
  </button>
</app-card>
<app-card [title]="content != null ? 'Modifier un contenu' : 'Nouveau contenu'" *ngIf="step === 2">
  <div class="form-group">
    <label for="name">Nom</label>
    <input type="text" class="form-control" name="name" id="name" [(ngModel)]="contentInput.name" placeholder="Nom" />
  </div>
  <div class="form-group">
    <label for="description">Description (optionnel)</label>
    <textarea class="form-control rounded-0" id="description" rows="3" [(ngModel)]="contentInput.description"></textarea>
  </div>
  <div class="form-group">
    <label for="categpry">Catégorie</label>
    <ng-container *ngIf="categories.length > 0">
      <select class="form-control" id="category" [(ngModel)]="contentInput.categoryId">
        <option *ngFor="let category of categories" [ngValue]="category.id">{{ category.name }}</option>
      </select>
    </ng-container>
    <ng-container *ngIf="categories.length === 0">
      Ce serveur ne possède aucune catégorie.
      <a class="btn btn-primary" [routerLink]="'/create-category/' + serverId">Ajouter une catégorie</a>
    </ng-container>
  </div>
  <button
    class="btn btn-success mt-2"
    (click)="onSubmit()"
    [disabled]="contentInput.name.length == 0 || contentInput.categoryId == '' || contentInput.groupId == ''"
  >
    <fa-icon [icon]="faArrowCircleLeft" class="mr-2"></fa-icon>Suivant
  </button>
  <button class="btn btn-primary mt-2 ml-2" (click)="onCancel()">Retour<fa-icon [icon]="faArrowCircleRight" class="ml-2"></fa-icon></button>
</app-card>
<app-card title="Choisir une icone (optionnel)" *ngIf="step === 3">
  <div class="form-group">
    <div *ngIf="contentInput.thumbnail">
      <img [src]="contentInput.thumbnail" width="200" height="200" />
    </div>
    <input type="file" style="display: none" accept="image/png,image/jpeg" (change)="onFileChange($event)" #thumbnailInput />
    <button class="btn btn-primary mt-2" (click)="thumbnailInput.click()" *ngIf="contentInput.thumbnail == null">
      <fa-icon [icon]="faUpload" class="mr-2"></fa-icon>Choisir une icone
    </button>
    <button class="btn btn-danger mt-2 ml-1" (click)="onRemoveThumbnail()" *ngIf="contentInput.thumbnail != null">
      <fa-icon [icon]="faTrash" class="mr-2"></fa-icon>Supprimer
    </button>
  </div>
  <button class="btn btn-success mt-2" (click)="onSubmit()"><fa-icon [icon]="faArrowCircleLeft" class="mr-2"></fa-icon>Suivant</button>
  <button class="btn btn-primary mt-2 ml-2" (click)="onCancel()">Retour<fa-icon [icon]="faArrowCircleRight" class="ml-2"></fa-icon></button>
</app-card>
<app-card title="Choisir un media" *ngIf="step === 4 && contentInput.contentType === 'LOCAL'">
  <div class="form-group">
    <div *ngIf="contentInput.media">
      <audio controls>
        <source [src]="contentInput.media" type="audio/mpeg" />
        Your browser does not support the audio element.
      </audio>
    </div>
    <input type="file" style="display: none" accept="audio/mpeg" (change)="onFileChange($event)" #mediaInput />
    <button class="btn btn-primary mt-2" (click)="mediaInput.click()" *ngIf="contentInput.media == null">
      <fa-icon [icon]="faUpload" class="mr-2"></fa-icon>Choisir un media
    </button>
    <button class="btn btn-danger mt-2 ml-1" (click)="onRemoveMedia()" *ngIf="contentInput.media != null">
      <fa-icon [icon]="faTrash" class="mr-2"></fa-icon>Supprimer
    </button>
  </div>
  <app-loading [loading]="loading"></app-loading>
  <button class="btn btn-success mt-2" *ngIf="!loading" (click)="onSubmit()" [disabled]="contentInput.media == null">
    <fa-icon [icon]="faArrowCircleLeft" class="mr-2"></fa-icon>Suivant
  </button>
  <button class="btn btn-primary mt-2 ml-2" *ngIf="!loading" (click)="onCancel()">
    Retour<fa-icon [icon]="faArrowCircleRight" class="ml-2"></fa-icon>
  </button>
</app-card>
<app-card title="Choisir un media" *ngIf="step === 4 && contentInput.contentType === 'YOUTUBE'">
  <div class="form-group">
    <label for="link">Lien de la video :</label>
    <input type="text" class="form-control" name="link" id="link" [(ngModel)]="contentInput.link" placeholder="Lien" />
  </div>
  <app-loading [loading]="loading"></app-loading>
  <button
    class="btn btn-success mt-2"
    *ngIf="!loading"
    (click)="onSubmit()"
    [disabled]="contentInput.link == null || contentInput.link == ''"
  >
    <fa-icon [icon]="faArrowCircleLeft" class="mr-2"></fa-icon>Suivant
  </button>
  <button class="btn btn-primary mt-2 ml-2" *ngIf="!loading" (click)="onCancel()">
    Retour<fa-icon [icon]="faArrowCircleRight" class="ml-2"></fa-icon>
  </button>
</app-card>
<app-card title="Visibilité" *ngIf="step === 5">
  <div class="mb-2">
    Contenu visible pour les groupes :
  </div>
  <app-toggle-input
    *ngFor="let group of groups"
    [(value)]="contentInput.visibleGroupList[group.id]"
    [label]="group.name"
  ></app-toggle-input>
  <app-loading [loading]="loading"></app-loading>
  <button class="btn btn-success mt-2" *ngIf="!loading" (click)="onSubmit()"><fa-icon [icon]="faSave" class="mr-2"></fa-icon>Créer</button>
  <button class="btn btn-primary mt-2 ml-2" *ngIf="!loading" (click)="onCancel()">
    Retour<fa-icon [icon]="faArrowCircleRight" class="ml-2"></fa-icon>
  </button>
</app-card>
